/* CSS for Catalogo view */

.cards_produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card_produto {
    width: 400px;
    border: 1px solid #ccc;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.cabecalho-catalogo {
    text-align: left;
}

.cabecalho-categoria {
    text-align: left;
    font-family: 'Sans Serif Collection';
    font-weight: 600;
}